@import './styles/variables';
@import './styles/card';
@import './styles/stars';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font-main;
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: $background-color;
}
